@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Unbounded", sans-serif; 
    font-weight: 800;
    color: #fff;
    background-color: #262E31;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.maze {
    height: 60dvh;
    width: 60dvh;
    display: grid;
}

.algorithm {
    height: 89dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1500px) {
    .maze {
        height: 52dvh;
        width: 52dvh; 
    }
}

@media (max-width: 850px)
{
    .maze {
        height: 45dvw;
        width: 45dvw; 
    }
}

.cell {
    border: 1px solid gray;
    background-color: #fff;
    transition: 200ms;
    cursor: cell;
}

.cell:hover {
    background-color: #E5C067;
}

.cell-clicked {
    background-color: #7BBD5C;
    cursor: cell;
}

.cell-clicked:hover {
    background-color: #7BBD5C;
    opacity: 0.8;
}

.cell-start {
    background-color: #F27928 !important;
    cursor: cell;
}

.cell-start:hover {
    background-color: #F27928 !important;
    opacity: 0.8;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.blink-cell {
    animation: blinker 1s linear infinite;
    cursor: cell;
}

.cell-finish:hover {
    background-color: #EF474A !important;
    opacity: 0.8;
}

.cell-border {
    background-color: #FF934B;
}

.cell-process {
    background-color: #F9FF8A; 
}

.cell-finish {
    background-color: #EF474A;
    cursor: cell;
}

.right-container {
    position: relative;
    width: 32dvw;
    height: 89dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7dvh;
}

.left-container {
    position: relative;
    width: 32dvw;
    height: 89dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 70px;
}

.center-container {
    position: relative;
    height: 89dvh;
    width: 60dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    max-width: 100dvw;
    height: 11dvh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    flex-direction: row;
    background-color: #4683BA;
}

h1 {
    font-size: 4dvw;
}

#learn-more {
    background: none;
    border: none;
    cursor: pointer;
    transition: 500ms;
}

#learn-more:hover {
    transform: scale(1.05);
}

#back {
    transition: 500ms;
}

#back:hover {
    transform: scale(1.05);
}

.algorithm button {
    background: #BE4848;
    color: #fff;
    font-family: "Unbounded", sans-serif; 
    font-size: 1.5dvw;
    font-weight: 700;
    border-radius: 60px;
    width: 19dvw;
    height: 10dvh;
    border-width: 1dvh;
    border-color: #952336;
    transition: 500ms;
    cursor: pointer;
}

.algorithm button:hover {
    transform: scale(1.1);
}


#to-run {
    background: #5ab62f;
    border-color: #2B8600;
}

#create-maze {
    background: #5553CF;
    border-color: #200f7e;
}

.custom-notification {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.custom-notification-box {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    border: 7px solid #4683BA;
    font-family: "Unbounded", sans-serif;
    color: #333;
    text-align: center;
}

.custom-notification-box button {
    margin-top: 20px;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: #AB5CBD;
    color: white;
    cursor: pointer;
    transition: 300ms;
}

.hidden {
    display: none;
}

.range-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2dvh;
    background: #305c8f;
    color: #fff;
    font-family: "Unbounded", sans-serif; 
    font-size: 1.2dvw;
    font-weight: 700;
    border-radius: 10px;
    width: 19dvw;
    height: 12dvh;
    border: 0.5dvh solid #87A7CC;
}

input {
    cursor: pointer;
    width: 55%;
    accent-color: #acd3ff;
} 