@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Unbounded", sans-serif; 
    font-weight: 800;
    color: #ffffff;
    background-color: #262E31;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

header {
    max-width: 100dvw;
    height: 11dvh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    flex-direction: row;
    background-color: #2e9d32;
}

h1 {
    font-size: 4dvw;
}

#learn-more {
    background: none;
    border: none;
    cursor: pointer;
    transition: 500ms;
}

#learn-more:hover {
    transform: scale(1.05);
}

#back {
    transition: 500ms;
}

#back:hover {
    transform: scale(1.05);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

canvas {
    margin-top: 2vw;
    background-color: #ffffff; 
    cursor: crosshair;
    width: 600px; 
    height: 400px; 
}

.controls button {
    background: #2e9d32; 
    color: #fff;
    font-family: "Unbounded", sans-serif;
    font-size: 1.15dvw; 
    font-weight: 700;
    border-radius: 60px;
    width: 15dvw; 
    height: 10dvh; 
    border-width: 1dvh;
    border-color: #184d1a;
    transition: 500ms;
    cursor: pointer;
    margin: 0 10px;  
}

button:hover {
    transform: scale(1.1);
}

.controls {
    text-align: center;
    padding: 20px;
} 

#kInput {
    background: #2e9d32;
    color: #fff;
    font-family: "Unbounded", sans-serif;
    font-size: 1.15dvw;
    font-weight: 700;
    border-radius: 60px;
    width: 14dvw;
    height: 7.5dvh;
    border-width: 1dvh;
    border-color: #184d1a;
    transition: 500ms;
    cursor: pointer;
    margin: 0 10px;
    text-align: center;
}


