@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Unbounded", sans-serif; 
    font-weight: 800;
    color: #ffffff;
    background-color: #262E31;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

header {
    max-width: 100dvw;
    height: 11dvh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    flex-direction: row;
    background-color: #6f188c;
}

#learn-more {
    background: none;
    border: none;
    cursor: pointer;
    transition: 500ms;
}

#learn-more:hover {
    transform: scale(1.05);
}

#back {
    transition: 500ms;
}

#back:hover {
    transform: scale(1.05);
}

h1 {
    font-size: 4dvw;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 140px); 
    gap: 40px;
}

#canvas {
    background: #000;
    border: 2px solid #6f188c;
    box-shadow: 0 0 20px #6f188c;
    cursor: crosshair;
    touch-action: none;
    width: 280px;
    height: 280px;
    image-rendering: pixelated;
}

.digits {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 15px;
    justify-items: center;
    text-align: center;
}

.digit {
    font-size: 2em;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: rgba(0, 255, 255, 0.1);
    transition: all 0.3s;
}

.digit.active {
    background: #6f188c;
    box-shadow: 0 0 25px #6f188c;
    color: #000;
}

.buttons {
    position: fixed;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
}

.buttons button {
    background: #6f188c; 
    color: #fff;
    font-family: "Unbounded", sans-serif;
    font-size: 1.1.1em; 
    font-weight: 700;
    border-radius: 60px;
    width: 15dvw; 
    height: 10dvh; 
    border-width: 1dvh;
    border-color: #6f188c;
    transition: 500ms;
    cursor: pointer;
    margin: 0 10px;
}

button:hover {
    transform: scale(1.1);
}

.custom-notification {
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
background-color: rgba(0, 0, 0, 0.4);
display: flex;
justify-content: center;
align-items: center;
z-index: 1;
}

.custom-notification-box {
background-color: white;
padding: 30px;
border-radius: 20px;
border: 7px solid #6f188c;
font-family: "Unbounded", sans-serif;
color: #333;
text-align: center;
}

.custom-notification-box button {
margin-top: 20px;
padding: 10px 20px;
font-weight: bold;
border: none;
border-radius: 10px;
background-color: #6599cd;
color: white;
cursor: pointer;
transition: 300ms;
}

.hidden {
    display: none;
  }